.orders-wrapper {
	width: 30%;
}

.order-item {
	position: relative;
	padding: 10px;
	border: 1px solid #dfdfdf;
	border-radius: 6px;
	background-color: #ffffff;
	color: #706f6f;
	margin-bottom: 10px;
}

.order-item__trash {
	cursor: pointer;
}

.order-item__trash:active {
	color: #fe0000;
	font-size: 20px;
}

.order-item__time {
	font-size: 14px;
}

.order-item__date {
	font-weight: 600;
}

.order-item__price {
	font-size: 14px;
}

.order-item__default {
	font-weight: 600;
}

.order-item__chevron {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 40px;
	padding-right: 10px;
	background-color: #dfdfdf;
	color: #ffffff;
}

.order-item__icon {
	font-size: 20px;
	font-weight: 800;
}

.product-quantity {
	display: flex;
	align-items: center;
}

.product-quantity__number {
	font-size: 20px;
	font-weight: 600;
}

.product-quantity__text {
	color: #898888;
}

.list-icon-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border: 1px solid #dfdfdf;
	border-radius: 100%;
	margin-right: 15px;
	cursor: pointer;
}

.list-icon-circle:hover {
	box-shadow: 0px 0px 25px 0px rgba(211, 211, 211, 0.7);
}

.list-icon-circle:active {
	background-color: #dfdfdf;
}

.list-icon-circle__icon {
	font-size: 25px;
}

.close-products-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -23px;
	right: -23px;
	width: 50px;
	height: 50px;
	border: 1px solid #dfdfdf;
	border-radius: 100%;
	cursor: pointer;
	color: #706f6f;
	box-shadow: 0px 0px 25px 0px rgba(211, 211, 211, 0.7);
	background-color: #ffffff;
}

.close-products-button:hover {
	width: 55px;
	height: 55px;
	top: -25px;
	right: -25px;
}

.products-in-order {
	border: 1px solid #dfdfdf;
	border-radius: 6px;
	background-color: #ffffff;
}

.products-in-order-table {
	display: flex;
	align-items: center;
	padding: 10px;
	border-top: 1px solid #dfdfdf;
	color: #706f6f;
}

.products-in-order-table:hover {
	box-shadow: 10px 0px 25px 0px rgba(211, 211, 211, 0.7);
}

.products-in-order-table img {
	width: 100%;
}

.serial-number {
	font-size: 11px;
}

.modal {
	padding-top: 200px;
}

.modal-footer {
	background-color: #48b348;
}

.modal-footer__delete {
	color: red;
}

.modal-footer__delete:hover {
	color: red;
}

.add-order {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	cursor: pointer;
	box-shadow: 0px 0px 25px 0px rgba(211, 211, 211, 0.7);
	background-color: green;
}

.add-order__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	cursor: pointer;
	box-shadow: 0px 0px 25px 0px rgba(211, 211, 211, 0.7);
	background-color: #01bd01;
	color: #ffffff;
	font-size: 18px;
}

.add-order__button:active {
	width: 25px;
	height: 25px;
	color: #01bd01;
}
