
.order-item {
    padding: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 6px;
    color: #706f6f;
    margin-bottom: 10px;

    .product-quantity {
        display: flex;
        align-items: center;

        .list-icon-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border: 1px solid #dfdfdf;
            border-radius: 100%;
            margin-right: 15px;
    
            .list-icon {
                font-size: 25px;
            }
        }

        .quantity {
            font-size: 20px;
            font-weight: 600;
        }

        .product {
            color: #898888;
        }

    }

    .trash-icon {
        cursor: pointer;

        &:active {
            color: #fe0000;
            font-size: 20px;
        }
    }

    .time {
        font-size: 14px;
    }

    .date {
        font-weight: 600;
    }

    .price {
        font-size: 14px;
    }

    .price-default {
        font-weight: 600;
    }

    
    
}