.label-type-select {
    margin-right: 10px;
    font-size: 14px;
    color: #706f6f;
}

.products-table {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 6px;
    color: #706f6f;
    margin-bottom: 8px;
}

.products-table__serial {
    font-size: 11px;
}

.products-table__guarantee {
    font-size: 12px;
    margin-right: 8px;
}

.products-table:hover {
    box-shadow: 10px 0px 25px 0px rgba(211,211,211,0.7);
}

.products-table img {
    width: 100%;
}

.products-table .default-price {
    font-size: 14px;
    font-weight: 600;
}

.products-table .not-default-price {
    font-size: 12px;
}